# Created by venv; see https://docs.python.org/3/library/venv.html
backend/venv/
.env
.end
__pycache__/
*.pyc
backend/documentos/*
!backend/documentos/.gitkeep

backend/audios/*
!backend/audios/.gitkeep
backend/tramites.db

fichas/
backend/vectorstore/
fichas_index.json
retys_catalogo.json